@model Online_ITI_Book_Store.Models.useraccounts

@{
    ViewData["Title"] = "Edit";
}
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="container">
    <h1 class="mt-5 text-center display-4">Edit User Account</h1>
    <hr />

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form asp-action="Edit" class="mt-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="name" class="font-weight-bold"></label>
                    <input asp-for="name" class="form-control" />
                    <span asp-validation-for="name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="pass" class="font-weight-bold"></label>
                    <input asp-for="pass" class="form-control" />
                    <span asp-validation-for="pass" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="role" />
                <div class="form-group">
                    <label asp-for="email" class="font-weight-bold"></label>
                    <input asp-for="email" class="form-control" />
                    <span asp-validation-for="email" class="text-danger"></span>
                </div>
                <div class="form-group mt-3 text-center">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a asp-action="Index" class="btn btn-secondary ml-2">Back to List</a>
                </div>

            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
